<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Doctor Know</title>
<link href="../static/stylesheets/Styles.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="Doctor Know, Creativity, Project Ideas, App Engine, Artificial Intelligence, Machine Learning, University of Pittsburgh, Web App, Python">
<meta name="description" content="This site is a student project for the University of Pittsburgh CS 1520 course. It is intended to take data streams as input and present the information in a fun and usable way.">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
  <div class="titleBanner">
    <div class="logoWords leftWord">doctor</div>
    <div class="logoContainer"><img src="../static/style2-assets/DKLogo2.png" alt="Artificial Creativity Engine" width="686" height="686" class="logo" title="Doctor Know Logo"/></div>
    <div class="logoWords rightWord">know</div>
  </div>
</header>
<main>
  <section class="welcome">
  <div><p> </p></div>
    <div class="messageBox">
      <h2>Welcome to the show.</h2>
      <h4>Dr. Know is a fully customizable Artificial Creativity Engine.</h4>
      <p> It is not just another content discovery tool. </p>
      <p>It is a tool that allows the user to cross reference disparate sources of information<br>
      and data streams that combine real time world events and social activity with personal interests.</p>
      <p>It is at the nexus of these obtuse combinations that new and interesting ideas are generated.</p>
      <p>All you have to do is connect your accounts, select your data streams, and grab interesting words from the engine.</p>
    </div>
  <div><p> </p></div>
  <section>
  <a href="/registerUser.html" class="register"><span> Register </span></a></section>
  <a href="#nav" class="start"><span> Try it Out </span></a></section>
  </section>
</main>
<nav id="nav">
  <div class="navbar">
    <div class="brand"> <a href="index.html" title="DoctorKnow" target="#engine"><span>Doctor Know</span></a> </div>
    <div class="navButtons">
      <ul>
        <li><a href="#engine" class="navHome" id = "engine"><span>Engine</span></a></li>
        <li><a class="navProfile" href="#account"><span>Account</span></a></li>
        <li><a class="navAccount" href="#profile"><span>Profile</span></a></li>
        <li><a class="navInfo" href="#info"><span>Project</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="engineScene">
  <article class="hgroup">
  	<div><h2>Artificial Creativity Engine</h2></div>
  </article>
  <div class="leftPanel">
    <img src="../static/style2-assets/heads.png" width="129" height="322" alt=""/>
  </div>

  <div class="wordCloud">
    <p>WordCloud Here</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

  <div class="rightPanel">
  	<ul>
      <li><a class="icon twitter" href="#twitter"><span>Twitter</span></a></li>
      <li><a class="icon factual" href="#factual"><span>Factual</span></a></li>
      <li><a class="icon reddit" href="#reddit"><span>Reddit</span></a></li>
      <li><a class="icon cia" href="#cia"><span>CIA</span></a></li>
    </ul>
  </div>
</section>
<footer></footer>
</body>
</html>
